.chatbot-card {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.chatbot-card h1 {
    font-size: 4rem;
    margin-bottom: 5px;
}

.chatbot-card a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

.chatbot-card .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chatbot-card .fab {
    font-size: 3rem;
    margin-right: 10px;
}

.chatbot-card .card-title {
    margin-top: 20px;
}

.chatbot-card .btn {
    margin-top: auto;
}